.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.main{
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;
}

/* Header */

header{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #221f1f;
  z-index: 999;
  position: fixed;
}
.navigation {
  display: flex;
  align-items: center;
  text-align: center;
}
.navigation button {
  background-color: inherit;
  height: 40px;
  border: 0;
}
.navigation button:hover{
  background-color: #4d4b4b;
  border-radius: 5px;
  cursor: pointer;
}
.navigation div{
  margin-right: 3rem;
}
.brand{
  color: white;
  margin-left: 2rem;
  font-family: "Arial Black", serif;
  font-size: 20px;
}

/* Products */

.products{
  width: 1360px;
}
.products ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.products li {
  flex: 0 1 18rem;
  margin: 0;
  height: 25rem;
  border: 1px solid lightgray;
}
.productBlock{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.hoverProductBlock:hover{
  position: absolute;
  width: 18rem;
  margin:0;
  padding: 0;
  height: 25rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  background-color: white;
}
.productAction{
  position: absolute;
  margin-bottom: 20rem;
  margin-left: 14.7rem;
}
.productAction div{
  margin: 0.2rem;
  width: 24px;
}

.productAction button{
  border: none;
  background-color: rgba(28,28,28,0)
}
.productAction button:hover{
  cursor: pointer;
  background-color: #ebf2fa;
  border-radius: 2px;
}
.productAction img {
  margin: 0;
  padding: 0;
}
.productImage{
  margin-top: 0.5rem;
}
.productImage img {
  max-height: 180px;
  max-width: 248px;
}
.productTitle, .productRating{
  text-align: left;
}
.productTitle p {
  font-size: 14px;
  margin: 0.5rem 1.3rem 0.2rem;
}
.ratingReviews{
  display: flex;
  margin-left: 1.3rem;
}
.productReviews p{
  font-size: 13px;
  color:grey;
  margin: 0 0 0 0.5rem;
}
.priceAndCart{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 0 1.3rem 0 1.3rem;
}
.productPrice p {
  margin: 0 auto;
  font-family: "BlinkMacSystemFont", serif;
  font-size: 18px;
  color: #f84147;
}
.productCart button{
  background-color: white;
  border:none;
}
.productCart button:hover{
  cursor: pointer;
  background-color: #ebf2fa;
  border-radius: 2px;
}

/*Filters*/

.filterList{
  margin-top: 2.6rem;
}
.filterList ul{
  padding: 0;
  margin: 0;
}
.filterList li{
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin: 0;
  padding: 0;
}
.filterList > ul > li:first-child > div{
  border-top: 1px solid lightgray;
}
.filterItem{
  flex: 0 10rem;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  width: 200px;
}
.filterItem p{
  margin-left: 0.5rem;
  font-size: 20px;
  color: cadetblue;
}
.filterItem span{
  color: grey;
  font-family: BlinkMacSystemFont, serif;
}
.filterItem ul {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
}

/* Double Range */

.wrapperRange{
  position: relative;
  height: 50vmin;
  padding: 0 12px 0 5px;
}
.containerRange{
  position: relative;
  width: 100%;
  height: 50px;
}
input[type='range']{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}
.slider-track{
  width: 100%;
  height:5px;
  background-color: white;
  position: absolute;
  margin:auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}
input[type='range']::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  height: 5px;
}
input[type='range']::-moz-range-track{
  -moz-appearance: none;
  height: 5px;
}
input[type='range']::-ms-track{
  appearance: none;
  height: 5px;
}
input[type='range']::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 1.3em;
  width: 1.3em;
  background-color: lightgreen;
  cursor: pointer;
  border-radius: 50%;
  margin-top: -9px;
  pointer-events: auto;
}
input[type='range']::-moz-range-thumb{
  -webkit-appearance: none;
  height: 1.3em;
  width: 1.3em;
  cursor: pointer;
  border-radius: 50%;
  background-color: lightgreen;
  pointer-events: auto;
}
input[type='range']::-ms-thumb{
  appearance: none;
  height: 1.3em;
  width: 1.3em;
  cursor: pointer;
  border-radius: 50%;
  background-color: lightgreen;
  pointer-events: auto;
}
input[type='range']:active::-webkit-slider-thumb{
  background-color: white;
  border: 3px solid lightgreen;
}
.values{
  background-color: lightgreen;
  width: 60%;
  position: relative;
  margin:auto;
  padding: 7px 0;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  color:white;
}
.values:before{
  content: "";
  position: absolute;
  height:0;
  width: 0;
  border-top: 10px solid lightgreen;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin:auto;
  bottom: -10px;
  left:0;
  right:0;
}

/*Sort*/

.sortBlock{
  display: flex;
  justify-content: right;
}
.sortBlock select{
  width: 15rem;
}
.sortBlock{
  margin-bottom: 0.2rem;
}

/*Favorite Products*/

.favoriteProducts{
  display: block;
  position: fixed;
  margin-top: 60rem;
  height: 50rem;
  width: 85rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  z-index: 999;
}
.blackout{
  background: rgba(0,0,0,.2);
}
.headerFavoriteProducts, .manageFavoriteProducts{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid lightgray;
}
.headerFavoriteProducts div:first-child{
  margin-left: 2rem;
  font-family: "BlinkMacSystemFont", serif;
  font-size: 20px;
}
.headerFavoriteProducts div:last-child{
  margin-right: 2rem;
}
.manageFavoriteProducts div:first-child{
  margin-left: 2rem;
}
.manageFavoriteProducts div:last-child{
  margin-right: 2rem;
}
.listFavoriteProducts{
  width: 100%;
  height: 40rem;
  position: fixed;
  overflow-y: scroll;
}
.checkboxFavorite{
  height: 24px;
  width: 24px;
  padding-left: 6px;
}
.checkboxFavorite input[type="checkbox"]{
  height: 24px;
  width: 24px;
}

/* Notification and Compare*/
.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}


#notification{
  position: fixed;
  margin-top: 45%;
  width: 100%;
}
.notificationBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 999;
}
.compareBlock{
  border: 1px solid lightgreen;
  border-radius: 5px;
}
.compareBlock p {
  margin: 0.5rem 10rem;
  font-size: 13px;
}

/*Counter*/
.counter {
  position: absolute;
  margin-top: -0.4rem;
  margin-left: -0.5rem;
}

/*Favorite Products*/

.favoriteProducts{
  display: block;
  position: fixed;
  margin-top: 60rem;
  height: 50rem;
  width: 85rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  z-index: 999;
}
.blackout{
  background: rgba(0,0,0,.2);
}
.headerFavoriteProducts, .manageFavoriteProducts{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid lightgray;
}
.headerFavoriteProducts div:first-child{
  margin-left: 2rem;
  font-family: "BlinkMacSystemFont", serif;
  font-size: 20px;
}
.headerFavoriteProducts div:last-child{
  margin-right: 2rem;
}
.manageFavoriteProducts div:first-child{
  margin-left: 2rem;
}
.manageFavoriteProducts div:last-child{
  margin-right: 2rem;
}
.listFavoriteProducts{
  width: 100%;
  height: 40rem;
  position: fixed;
  overflow-y: scroll;
}
.checkboxFavorite{
  height: 24px;
  width: 24px;
  padding-left: 6px;
}
.checkboxFavorite input[type="checkbox"]{
  height: 24px;
  width: 24px;
}

/* Notification and Compare*/
.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}


#notification{
  position: fixed;
  margin-top: 45%;
  width: 100%;
}
.notificationBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 999;
}
.compareBlock{
  border: 1px solid lightgreen;
  border-radius: 5px;
}
.compareBlock p {
  margin: 0.5rem 10rem;
  font-size: 13px;
}
/*Counter*/
.counter {
  position: absolute;
  margin-top: -0.4rem;
  margin-left: -0.5rem;
}