.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
header{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #221f1f;
  z-index: 999;
  position: fixed;
}
.navigation {
  display: flex;
  align-items: center;
  text-align: center;
}
.navigation button {
  background-color: inherit;
  height: 40px;
  border: 0;
}
.navigation button:hover{
  background-color: #4d4b4b;
  border-radius: 5px;
  cursor: pointer;
}
.navigation div{
  margin-right: 3rem;
}
.brand{
  color: white;
  margin-left: 2rem;
  font-family: "Arial Black";
  font-size: 20px;
}
